{
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": false,
    "trailingComma": "es5",
    "endOfLine": "lf",
    "arrowParens": "always",
    "bracketSameLine": true,
    "printWidth": 120
}
